html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  font-family: var(--font1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 0px;
}

.poke {
  width: 30vw;
  position: fixed;
  z-index: 10;
}

.pokeCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 2vh;
  font-family: var(--font1);
  border-right: 4px solid var(--mainDark);
}

.pokeCard input {
  border-radius: 15px;
  border: 0 solid #121212;
  background-color: #f1f1f1;
  color: #121212;
  font-size: 1.6vw;
  padding: 5px 20px 5px 20px;
  margin: 5px 0 0px 0;
  border: 1px solid var(--hsp3);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--font1);
  outline: none;
}

.pokeCard .type {
  font-size: 1.2vw;
  color: var(--hsp3);
}

.pokeCard #my-canvas {
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 2px;
}

.pokeCard #buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pokeCard #buttons > * {
  padding: 10px;
  font-size: 1.5vw;
  font-family: var(--font1);
  background-color: #f1f1f1;
  color: #121212;
  border-radius: 15px;
  border: 1px solid var(--hsp3);
  outline: none;
  cursor: pointer;
}

.pokeCard input {
  text-align: center;
}

.labelInput {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.labelInput label {
  color: var(--hsp3);
}
